.container{
    width: auto;
    height: 100vh;
    align-content: center;
    background-color: #211f1f;
}
h1{
    text-align: center;
    color:bisque;
}
input{
    display: block;
    margin: auto;
    background-color: bisque;
    color:black;
}
